body{
  background: #363738;
  color: #000000;
  font-family: 'Sans Serif';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #FCFCFC;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message{
  color: #FCFCFC;
}

#Main{
  background: #424549;
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 300%;
}
